

{% comment %}
  HOME PAGE CONTENT
  If there's a home page set in the schema's
  theme settings, then display the RTE content
{% endcomment %}
{% unless settings.homepage_page == blank or pages[settings.homepage_page].empty? %}
  {% assign page = pages[settings.homepage_page] %}
  <div class="section">
    <div class="width-restrict pad">
        <h2 class="section-heading">{{ page.title }}</h2>
        <div class="rte">
          {{ page.content }}
        </div>
    </div>
  </div>
{% endunless %}

{% unless settings.homepage_collection == blank or collections[settings.homepage_collection].empty? %}
  {% assign collection = collections[settings.homepage_collection] %}
  <div class="section">
    <div class="width-restrict pad">

      <h2 class="section-heading">{{ collection.title }}</h2>
      {% if collection.description %}
        <p>{{ collection.description }}</p>
      {% endif %}

      <!-- The main product grid -->
      <div class="grid grid-{{ settings.max-grid-cols }}">
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <div class="nothing-here">You have no products in your <span>{{ collections[settings.homepage_collection].title }}</span> collection. <a href="http://www.shopify.com/admin/collections">Add some.</a>
          </div>
        {% endfor %}
      </div>


    </div>
  </div>
{% endunless %}

